*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
body {
  font-family: $mainfont;
  color: $fontcolor;
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $fontcolor;
}

ul {
  list-style: none;
}
address {
  font-style: normal;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
