.customer-list {
  width: 1200px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.customers {
  padding: 94px 0;
}

.customer-icon {
  & {
    fill: #afb1b8;
    transition: fill $sitetransit;
  }

  .customer-card:hover &,
  .customer-card:focus & {
    fill: $corpcolor;
  }
}

.customer-card {
  & {
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color $sitetransit;
  }

  &:hover,
  &:focus {
    border-color: $corpcolor;
    outline: none;
  }
}
