.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-logo {
  margin-bottom: 20px;
  display: inline-block;
}
.footer-adress {
  color: $mainwhite;
}

.footer .container {
  padding: 0 15px;
}

.social-link-footer {
  & {
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    transition: background-color $sitetransit;
  }

  &:hover,
  &:focus {
    background-color: $corpcolor;
  }
}

.footer-text {
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.social-icon-footer {
  fill: $mainwhite;
}

.subscribe-form {
  display: block;
}

.subscribe {
  & {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    background: none;
    border-radius: 4px;
    padding: 15px 16px;
    color: rgba(255, 255, 255, 0.6);
  }

  &::placeholder {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }
}

.subscribe-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 29px;
  padding-right: 28px;
  margin-top: 20px;
}

.social-footer-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 20px;
  display: block;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-container {
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.social-li-footer {
  margin-right: 10px;
}

///TABLET

@media screen and (min-width: $tablet) {
  .footer-tablet-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
  .social-footer-text {
    margin-top: 0;
  }
  .footer-frst-container {
    margin-right: 165px;
  }
  .subscribe {
    width: 450px;
  }

  .subscribe-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

//DESKTOP

@media screen and (min-width: $desktop) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .footer-tablet-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
  }

  .social-footer-text {
    margin-top: 12px;
  }

  .footer-frst-container {
    margin-right: 70px;
  }

  .subscribe-form {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-margin {
    margin: 9px 0;
  }

  .social-container {
    display: flex;
    margin: 0;
  }

  .social-li-footer:not(:last-of-type) {
    margin-right: 10px;
  }

  .footer-thrd-container {
    width: 570px;
    height: 86px;
    margin: 0;
  }

  .subscribe {
    width: 358px;
  }
  .subscribe-btn {
    margin: 0;
  }

  .subscribe-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
