.customers {
  padding: 60px 0;
}

.customers .container {
  padding: 0;
}
.customer-icon {
  & {
    fill: #afb1b8;
    transition: fill $sitetransit;
  }

  .customer-card:hover &,
  .customer-card:focus & {
    fill: $corpcolor;
  }
}

.customer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -30px;
}

.customer-card {
  & {
    width: #{((($mobile)- (30 * 2))/2)};
    margin: 15px;
    height: 90px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color $sitetransit;
    margin-bottom: 30px;
    box-sizing: border-box;
  }

  &:hover,
  &:focus {
    border-color: $corpcolor;
    outline: none;
  }
}

//TABLET

@media screen and (min-width: $tablet) {
  .customer-card {
    width: #{((($tablet)- (30 * 3))/3)};
  }
}

//DESKTOP

@media screen and (min-width: $desktop) {
  .customer-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .customers {
    padding: 94px 0;
  }

  .customer-card {
    width: 170px;
  }
}
