//NAV-ELEMENTS
.header {
  border-bottom: 1px solid $header-line;
}

.list-nav-social {
  display: none;
}

.header .container {
  padding: 0 15px;
}
.upper-contacts {
  color: $secondary-color;
}
.navlink {
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
}
.upper-link,
.upper-contacts {
  & {
    transition: color $sitetransit;
  }
  &:hover,
  &:focus {
    color: $corpcolor;
  }
}

.active-page {
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $corpcolor;
    bottom: 0;
    border-radius: 2px;
    transform: translate(0px, 1px);
  }

  & {
    position: relative;
    color: $corpcolor;
  }
}

.menu-button:focus,
.menu-button:hover {
  fill: $corpcolor;
}

//END OF NAV ELEMENTS

//NAV-ICONS
.upper-contact-icon {
  & {
    margin-right: 10px;
    fill: $secondary-color;
    transition: fill $sitetransit;
  }
  .upper-contacts:hover &,
  .upper-contacts:focus & {
    fill: $corpcolor;
  }
}
//END NAV ICONS

//MOBILE

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

@media (max-width: #{(($tablet)-1px)}) {
  .menu-container {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    &.is-open {
      display: block;
      z-index: 1;
      background-color: $mainwhite;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    }
    .navlink {
      display: block;
    }

    .upper-link {
      font-size: 40px;
      line-height: 1.175;
      letter-spacing: 0.02em;
    }
    .active-page {
      &::after {
        display: none;
      }

      & {
        color: $corpcolor;
      }
      .contacts {
        margin-bottom: 64px;
      }
    }

    .link-list:not(:last-of-type) {
      margin-bottom: 32px;
    }

    .active-page {
      padding-bottom: 0;
    }

    .navigation {
      margin-bottom: 374px;
      margin-top: 0;
    }

    .phone {
      color: $corpcolor;
      position: absolute;
      top: -72px;
      font-size: 34px;
      line-height: 1.77;
      letter-spacing: 0.02em;
    }

    .navlink {
      position: relative;
    }

    .upper-contact-icon {
      display: none;
    }

    .email {
      font-size: 24px;
      line-height: 1.67;
      letter-spacing: 0.02em;
    }

    .list-nav-social {
      display: flex;
    }

    .nav-social {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      color: $corpcolor;
      letter-spacing: 0.02em;
    }

    .nav-scl-first {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    .nav-scl-mddle {
      padding-right: 10px;
      padding-left: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    .nav-scl-last {
      padding-left: 10px;
    }
  }

  .contact-list:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.header-container {
  position: relative;
}
.mobile-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upper-link {
  display: inline-flex;
  align-items: center;
}

//TABLET
@media screen and (min-width: $tablet) {
  .upper-logo-navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-button {
    display: none;
  }

  .navigation .navlink {
    display: flex;
    align-items: center;
  }

  .menu-container {
    display: flex;
    align-items: center;
  }
  .mobile-header {
    height: 80px;
  }
  .upper-link {
    padding: 32px 0;
  }
  .navigation .navlink li:not(:last-child) {
    margin-right: 50px;
  }
  .navigation {
    margin-right: 84px;
  }
  .contact-list:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

//DESKTOP
@media (min-width: $desktop) {
  .contacts .navlink {
    display: flex;
    align-items: center;
  }
  .contacts .navlink li:not(:last-child) {
    margin-right: 50px;
  }
  .navigation {
    margin-right: 305px;
  }
  .contact-list:not(:last-of-type) {
    margin-bottom: 0;
  }
}
