.header-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

.active-page {
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $corpcolor;
    bottom: 0;
    border-radius: 2px;
    transform: translate(0px, 1px);
  }

  & {
    position: relative;
    color: $corpcolor;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}
.upper-logo-navlinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 532px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.corp-color {
  color: $corpcolor;
}
.logo-black {
  color: #000000;
}
.main-white {
  color: $mainwhite;
}
.navlink {
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  display: flex;
}
.navlink li:not(:last-child) {
  margin-right: 50px;
}

.upper-contacts {
  color: #757575;
}

.upper-link,
.upper-contacts {
  & {
    padding: 32px 0;
    display: flex;
    align-items: center;
    transition: color $sitetransit;
  }

  &:hover,
  &:focus {
    color: $corpcolor;
  }
}

.upper-contact-icon {
  & {
    margin-right: 10px;
    fill: #757575;
    transition: fill $sitetransit;
  }

  .upper-contacts:hover &,
  .upper-contacts:focus & {
    fill: $corpcolor;
  }
}
