$corpcolor: #2196f3;
$mainwhite: #ffffff;
$mainblack: #000000;
$sitetransit: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$mainfont: Roboto, sans-serif;
$logofont: Raleway, sans-serif;
$fontcolor: #212121;
$secondary-color: #757575;
$header-line: #ececec;
//breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
//end of breakpoints
